.notebook {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;

  .buttons {
    display: flex;
    gap: 10px;

    span {
      padding: .5rem;
      border-radius: 5px;
      color: white;
      font-weight: 700;
      cursor: pointer;
    }

    .span-edit{
      background-color: rgb(51, 51, 234);
    }
    .span-delete{
      background-color: red;
    }
  }

  .my_note {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 70vh;
  }

  &_notes,
  &_sidebar_fixed {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .note_title {
      padding: 0.5rem;
    }
  }

  &_sidebar {
    .flex-column {
      display: flex;
      flex-direction: column;
    }
    grid-column: 1/2;
    position: relative;

    &_searchBar {
      .home_page {
        cursor: pointer;
      }
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: white;
      z-index: 100;
      height: 5vh;
      padding-bottom: 0.5rem;
      display: flex;
      gap: 5px;
      align-items: center;
      form {
        height: 5vh;
        display: flex;
        gap: 1px;

        input,
        button {
          outline: none;
          border: none;
          border-radius: 5px;
        }
        input {
          border: 1px solid;
          width: 50%;
          padding-inline: 0.5rem;
        }
        button {
          height: 100%;
          background-color: #0a64ec;
          cursor: pointer;
          color: white;
          font-weight: 600;
        }
      }
    }

    &_fixed {
      position: fixed;
      width: 24vw;
      left: 0;
      max-height: 80vh;
      overflow-y: hidden;

      &:hover {
        overflow-y: auto;
      }

      .note_title {
        cursor: pointer;
        background-color: #0a64ec;
        color: white;
        font-weight: 600;
        font-size: 1.1rem;
        display: -webkit-box;
        padding: 0.5rem;
      }
    }
  }

  &_notes {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    &_card {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;

      .delete {
        position: absolute;
        border: unset;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        color: red;
      }

      .card_title {
        font-weight: 700;
        font-size: 1.2rem;
      }

      .card_category {
        &_span {
          font-weight: 600;
        }
      }

      .card_description,
      .card_category {
        opacity: 0.8;
      }
    }
  }

  &_categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    padding: 0.1rem;

    .category_title {
      padding: 0.5rem;
      background-color: chocolate;
      color: white;
      font-weight: 700;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}
.my_notes {
  position: relative;
}

.single_note {
  position: relative;
  .notebook {
    &_notes {
      &_card {
        padding: 0.5rem;
        cursor: unset;

        .card_title {
          font-size: 2rem;
        }

        .card_description,
        .card_category {
          font-size: 1.5rem;
          opacity: 0.5;
        }
        .card_category_span {
          cursor: pointer;
        }
      }
    }
  }
}

.category {
  .categories {
    margin-top: 7vh;
    .active {
      width: unset;
      display: flex;
      justify-content: center;
    }
    .category_notes {
      min-height: 70vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 10px;
    }
  }
}

.add-note {
  position: fixed;
  background-color: chocolate;
  min-height: 40vh;
  width: 50%;
  z-index: 999999;
  top: 0;
  padding: 1rem;
}
.addNote {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right-section {
  position: relative;
  margin-top: 10vh;
  .notebook_categories {
    margin-block: 1vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  
}

@media (max-width: 800px) {
  .notebook {
    &_notes {
      grid-template-columns: 1fr 1fr;
    }
    &_searchBar {
      form {
        input {
          width: 100%;
        }
      }
    }
    .right-section {
      .notebook_categories {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  .category {
    .category_notes {
      grid-template-columns: 1fr 1fr;
    }
  }
  button {
    display: none;
  }
}

@media (max-width: 500px) {
  .notebook {
    &_notes {
      grid-template-columns: 1fr;
    }
    .right-section {
      .notebook_categories {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .category {
    .category_notes {
      grid-template-columns: 1fr;
    }
  }
}
