.notebook {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;

  &_notes,
  &_sidebar_fixed {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .note_title {
      padding: 0.5rem;
    }
  }

  &_sidebar {
    grid-column: 1/2;
    position: relative;

    &_searchBar {
      position: sticky;
      top: 0;
      left: 0;
      background-color: white;
      z-index: 100;
      height: 5vh;
      padding-bottom: 0.5rem;
      form {
        height: 5vh;
        display: flex;
        gap: 1px;

        input,
        button {
          outline: none;
          border: none;
          border-radius: 5px;
        }
        input {
          border: 1px solid;
          width: 50%;
          padding-inline: 0.5rem;
        }
        button {
          height: 100%;
          background-color: #0a64ec;
          cursor: pointer;
          color: white;
          font-weight: 600;
        }
      }
    }

    &_fixed {
      margin-top: 7vh;
      position: fixed;
      width: 24vw;
      left: 0;
      max-height: 80vh;
      overflow-y: hidden;

      &:hover {
        overflow-y: auto;
      }

      .note_title {
        cursor: pointer;
        background-color: #0a64ec;
        color: white;
        font-weight: 600;
        font-size: 1.1rem;
      }
    }
  }

  &_notes {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
